version: '3.9'

services:
  postgres:
    image: postgres
    container_name: my-postgres
#    restart: always
    environment:
       - POSTGRES_PASSWORD=mysecretpassword
#      - POSTGRES_USER: postgres
#      - POSTGRES_DB: mydb
    ports: 
      - "5432:5432"
    restart: on-failure  
    networks:
      - common-network  
    # volumes:
    #   - pgdata:/var/lib/postgresql/data
  
  redis:
   image: redis
   container_name: my-redis
   ports:
      - "6379:6379"
   networks:
      - common-network
   restart: on-failure        
   volumes:
      - redisdata:/data

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports: 
      - "3001:3001"
    depends_on:
      - postgres
    restart: on-failure    
    networks:
      - common-network  
    environment:
      DATABASE_URL: postgres://postgres:mysecretpassword@my-postgres:5432/postgres

  # frontend:
    # build:
    #   context: .
    #   dockerfile: docker/Dockerfile.frontend
    # ports: 
    #   - "8080:8080"
    

  # worker-alert:
  #   build:
  #     context: .
  #     dockerfile: docker/Dockerfile.worker-alert
  #   depends_on:
  #     - redis
  #     - api
  #   networks: 
  #     - common-network
  #   environment:
  #     REDIS_URL: redis://my-redis:6379     

  worker-db:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker-db
    depends_on:
      - redis
      - postgres
      - api
    networks: 
      - common-network 
    restart: on-failure        
    environment:
      DATABASE_URL: postgres://postgres:mysecretpassword@my-postgres:5432/postgres
      REDIS_URL: redis://my-redis:6379  

  worker-dns:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker-dns
    depends_on:
      - redis
      - postgres
      - api
    networks: 
      - common-network 
    restart: on-failure     
    environment:
      DATABASE_URL: postgres://postgres:mysecretpassword@my-postgres:5432/postgres
      REDIS_URL: redis://my-redis:6379  
      
  worker-pusher:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker-pusher
    depends_on:
      - redis
      - postgres
      - api
    networks: 
      - common-network
    restart: on-failure       
    environment:
      DATABASE_URL: postgres://postgres:mysecretpassword@my-postgres:5432/postgres
      REDIS_URL: redis://my-redis:6379  

  worker-web:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker-db
    depends_on:
      - redis
      - postgres
      - api
    networks: 
      - common-network 
    restart: on-failure      
    environment:
      DATABASE_URL: postgres://postgres:mysecretpassword@my-postgres:5432/postgres
      REDIS_URL: redis://my-redis:6379


networks:
  common-network:
    driver: bridge        

volumes:
  # pgdata:
  redisdata:
