name: Build and Deploy API
on:
    push:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2
            
            - name: Docker login
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}  
                password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Build and Push
              uses: docker/build-push-action@v4
              with:
                context: .
                file: ./docker/Dockerfile.api
                push: true
                tags: sunilks761/uptime-frontend:${{ github.sha }}    

            - run: |
                echo "${{ secrets.SSH_API_PRIVATE_KEY }}" &> ~/ssh_key
                mkdir -p /home/runner/.ssh
                ls /home/runner/.ssh
                chmod 700 /home/runner/ssh_key
                ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@13.49.78.194  -t "docker kill uptime-frontend && docker run --name uptime-frontend -d -p 8080:8080 sunilks761/uptime-frontend:${{ github.sha }}"
