name: Build and Deploy worker-dns
on:
    push:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2
            
            - name: Docker login
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}  
                password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Build and Push
              uses: docker/build-push-action@v4
              with:
                context: .
                file: ./docker/Dockerfile.worker-dns
                push: true
                tags: sunilks761/uptime-worker-dns:${{ github.sha }}    

            - run: |
                echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
                mkdir -p /home/runner/.ssh
                ls /home/runner/.ssh
                chmod 700 /home/runner/ssh_key
                ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@13.49.78.194  -t "sudo docker kill uptime-worker-dns && sudo docker run --name uptime-worker-dns  -e DATABASE_URL=${{ secrets.DATABASE_URL }} -e REDIS_URL=${{ secrets.REDIS_URL }} -d sunilks761/uptime-worker-dns:${{ github.sha }}"
